#tipHead
{
    border: 5px solid black;
    height:300px;
    width:250px;
    position: absolute;
    top:60%;
    left:50%;transform: translate(-50%, -50%);

}

body {
    background: rgb(255,0,0);
background: linear-gradient(90deg, rgba(255,0,0,1) 15%, rgba(116,25,25,1) 41%);
}

#wrapper {
    height: 500px;
    width: 20%;
    margin: 15% auto;
    background: #f7f7f7;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    
    
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
  }

#title
  {
    background: rgb(143, 13, 13);
    color:white ;
    margin:0;
    padding: 20px , 50px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 18px;


  }
